//GLOBAL VARS

$base-color: #f9f9f9;
$base-border-col: #a7d7f9;
$base-sizing: 10px;
$cta-color: #cef2e0;
$btn-color: #a7d7f9;
$emph-color: #afa3bf;
$warning-color: #dd3333;
$hfont: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$bfont: Arial, "Helvetica Neue", Helvetica, sans-serif;

// END GLOBAL VARS

/* ELEMENT STYLES */

/** {
    border: 2px solid red !important;
}*/

body {
    background: $base-color url("../images/old-books.jpg") no-repeat top left;
    background-size: cover;
    font-family: $bfont;
    font-size: $base-sizing;
}

header, li {
    background-color: $base-color;
    border: 2px solid $base-border-col;
    margin: 0 0.75rem;
    padding: 1.5em;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

li {
    margin: 0.75rem;

    &:hover{
        background-color: $emph-color;
        .searchmatch {
        color: lighten( $cta-color, 5% );
        font-weight: normal;
        }
    }
    
}

h1, h2 {
    font-family: $hfont;
    font-weight: 300;
    max-width: 16rem;
}

h1 {
    font-size: 3em;
    margin: 0;
}

div{
    display: inline-block;
}

div:nth-of-type(1) {}

div:nth-of-type(2) {
    
}

h1:first-child:first-letter {
  //float: left;
  font-size: 2.5em;
  margin-right: -10px;
}

h2 {
    margin: -0.5em 0 0.2em 0;
    padding: 0 0 0 0.5em;
    font-size: 2em; 
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.5em;
}

button {
    font-size: 1.8em;
    background-color: $btn-color;
    font-family: $bfont;
    padding: 0.2em 0.6em;
    border-radius: 1em;
    border: 2px outset lighten( $base-border-col, 10% );
    &:hover {
        background-color: $emph-color;
    }
    &:focus {
        border: 2px outset darken( $emph-color, 10% );
    }
    &[type="reset"] {
        font-size: 1.6em;
        position: relative;
        padding: 0.2em;
        background-color: #ccc;
        border-radius: 0;
        border: 2px solid #aaa;
        left: -11px;
        &:hover {
            color: $emph-color;
        }
    }
    &[type="button"] {
        margin-left: 0.5em;
        background-color: $cta-color; 
        &:hover {
        background-color: $emph-color;
        }
    }

}

input[type="search"] {
    font-size: 1.6em;
    padding: 0.2em;
    margin: 0.5em;
    margin-bottom: 1em;
    display: inline;
    width: 14em;
}


/* CLASS AND ID STYLES */

.logo{
    margin-right: 4em;
}
.searchbox {
    position: relative;
}

.searchmatch {
    color: darken( $emph-color, 15% );
    font-weight: bold;
}

.searchError {
    
    border: 1px solid $warning-color;
    margin-left: 8px;
    font-size: 1rem;
    margin-top: -16px;
    padding: 0.2em;
    max-width: 234px;
    background-color: lighten($warning-color , 40%);
    display: none;
}

.showError {
    visibility: visible;
    display: block;
}

#resultsList {
    a {
    text-decoration: none;
    color: inherit;
    }
}


/* OLD BROWSER WARNING STYLES */
.browserupgrade {
    text-transform: uppercase;
    a, strong {
        color: $warning-color;
    }
}

@media screen and (max-width: 890px) {

.searchbox {
    margin: 0;
    top: 1em;
}

}

@media screen and (max-width: 599px) {

header {
    max-width: 290px;
    margin: 0 auto;
    padding: 1.5em 1em;
    }

.searchError {
    margin: 1em 0 0.5em 0;
    max-width: inherit;
}

#searchbox button[type="submit"], #searchbox button[type="button"] {
    margin-top: 0.5em;
    
}

.logo {
    margin: 1em;
}

}